body{
    background: #fff url('../images/bg.png') repeat-x;
}
.container_12,.popup,#header,#gbmscontent,#footer,#footercolumns,#gbmscolumn,#gbmscontentwrapper{
    background-color:#fff
}
#content .container_12 {width:940px;}
#header-title{
    font-size:19px;
    color:#626264;
    margin-top:75px;
}

#langselector{
    text-align: right;
}
#langselector .currentLanguage a{
	text-decoration:underline;
}

#globmslinks{
    width:55px;height:14px;
    float:right;
    text-align: right;
    margin:15px 0;
}
#globmslinks ul li span{
    width:14px;height:14px;
    display:inline-block;
}
#globms-linkedin{background-image: url('../images/linkedin.png');}
#globms-viadeo{background-image: url('../images/viadeo.png');}
#globms-rss{background-image: url('../images/rss.png');}


/* MAIN NAVIGATION */
#nav-bar-wrapper{background-color:#fff;}
#nav-bar{
	background: url(../images/nav_bg.png) repeat-x left bottom;
    clear: both;
    border-top: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #a3a3a3;
    border-left: 1px solid #dedede;
    font-family: Arial, sans-serif;
    font-weight:bold;
    font-size:13px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#main-nav li{line-height: 3em;}

ul.navigation li a,ul.navigation li a:visited {
	padding: .9em 1em;
	color: #606060;
	font-weight: bold;
	border-right: 1px solid #c5c5c5;
	white-space: nowrap;
}
ul.navigation li a:hover {
	color: #75ad0a;
}
ul.navigation li.selected a,
ul.navigation li.active a {
	color: #75ad0a;
}

/* HOME PAGE SLIDESHOW*/
#slideshow-wrapper{
    background-image:url('../images/bghomeblockright.png');
}


/* HOME PAGE CENTER */
.homecenterb{
    background: #fff url('../images/bghomecentral.png') repeat-x;
}
#homecenterb0 h2{background: url('../images/trait0.png') no-repeat;}
#homecenterb1 h2{background: url('../images/trait1.png') no-repeat;}
#homecenterb2 h2{background: url('../images/trait2.png') no-repeat;}
#homecenterb3 h2{background: url('../images/trait3.png') no-repeat;}


/* HOME PAGE LAST */
#blockhomebas-wrapper{
    margin-top:30px;
    margin-bottom: 30px;
    width:940px;
}
#blockhomebas{
    background: url('../images/bghomebas.png') repeat-x;
    border: 1px solid #e6eaee;
}

/*
http://flowplayer.org/tools/demos/scrollable/index.html
*/
.scrollable {
    position:relative;
    overflow:hidden;
    width: 940px;
    height:110px;
}
.scrollable .items {
    width:20000em;
    position:absolute;
}
.items div {
    float:left;
}

